<h1>All Tags</h1>
<ul id="tags">
  <% @tags.each do |tag| %>
    <li>
      <%= link_to tag.name, tag_path(tag), class: "tag_name", id: "tag-id-#{tag.id}"%>
    </li>
  <% end %>
</ul>
<h3>
<%= link_to 'Back to root', articles_path%>
</h3>